@import '../../scss/_mixins.scss';

.top-box {
	min-height: 412px;
}

.top-img-box {
	height: 100%;
	position: relative;

	.logo-box {
		max-width: 274px;
		max-height: 196px;
		padding: 2%;

		border-radius: 20px;
		border: 2px solid #888888;
		box-shadow: 0 0 0 10px rgba($white, 0.35);
		background-color: $white;

		z-index: 1;
		position: absolute;
		right: 5%;
		bottom: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		& > img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
}

.description {
	$font-values: (
		height: 130%,
	);

	@include font($font-values...);
}

.bold {
	$font-values: (
		height: 130%,
		weight: 700,
	);
	@include font($font-values...);
}
