@import './scss/custom.scss';

.footer {
	height: 196px;
	background-image: url('./assets/dna_background\ 2.png');
	background-size: cover;

	& > div {
		background: $bg-gradient;
	}
}

p {
	@include font();

	@media only screen and (max-width: 992px) {
		$font-values: (
			height: 130%,
		);
		@include font($font-values...);
	}
}
