$white: #ffffff;
$ivory: #f5f5f5;

$primary: #2d5a92;

$text-black: #333333;
$text-blue: $primary;
$text-white: $ivory;

$button-shadow: #94c0ee;

$bg-gray: $ivory;
$bg-gradient: linear-gradient(
	180deg,
	rgba(196, 196, 196, 0) 0%,
	rgba(0, 0, 0, 0.7) 89.58%
);
